.navbar{
    text-align: center;
}

.navbar a, span {
    color: #7ca0b5;
    font-family: "Lucida Sans";
}

.navbar a:hover{
    color: #456b7e;
}

#content {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans";
}

#welcomeText {
    color: #456b7e;
    margin-top: 50px;
}

#description {
    color: #253849;
    font-size: 25px;
}

#generate {
    background-color: #7ca0b5;
    color: #ffffff;
    border: 1px solid #456b7e;
    border-radius: 6px;
    padding: 16px;
    cursor: pointer;
    font-weight: 600;
    font-size: 100%;
}

#generate:hover {
    background-color: #456b7e;
    transition: 0.2s;
    transform: translateY(-5%);
}