<!DOCTYPE html>
{% load static %}
<head>
  <title>All Fun Facts</title>
    <link rel="stylesheet" href ="{% static 'all_facts.css' %}">
</head>
<body>
<div class="navbar">
    <a href="{%url 'addFact' %}">Add Fun Fact</a>
    <span> | </span>
    <a href="{% url 'generateFact' %}">Generate Fun Fact</a>
    <span> | </span>
    <a href="{% url 'likedFacts' %}">Liked Fun Facts</a>
    <span> | </span>
    <a href="{% url 'allFacts' %}">All Fun Facts</a>

    {% for fact in facts %}
    <div id="facts">
        <div id="fact">{{ fact.fact }} <a href="{% url 'delete' fact.id %}"><button id="deleteButton"><i class="fa-solid fa-trash"></i></button></a></div>
    </div>
        <hr>

    {% empty %}
    <p id="emptyView">No fun facts yet</p>
    {% endfor %}
    <a href="{% url ''%}"><button id="backButton">Back</button></a>
</div>
<script src="https://kit.fontawesome.com/f1b54785bc.js" crossorigin="anonymous"></script>
</body>
</html>