<!DOCTYPE html>
{% load static %}
<head>
    <title>Add Fact</title>
    <link rel="stylesheet" href="{% static 'add_fact.css' %}">
</head>

<body>

<div class="navbar">
    <a href="{%url 'addFact' %}">Add Fun Fact</a>
    <span> | </span>
    <a href="{%url 'generateFact' %}">Generate Fun Fact</a>
    <span> | </span>
    <a href="{% url 'likedFacts'%}">Liked Fun Facts</a>
    <span> | </span>
    <a href="{% url 'allFacts' %}">All Fun Facts</a>
</div>

<form id="addForm" name="addForm" method="POST">
    {% csrf_token %}
    <div id="fields">
    <label for = "fact"> Fun Fact: </label> <br>
    <textarea rows="5" columns = "20" name="fact" id="fact" placeholder="Enter fun fact here" required></textarea> <br> <br>
    </div>

    <div id="buttons">
    <button type = "submit" id="addButton">Add</button>
    <a href="{% url '' %}"><button type="button" id="cancelButton">Cancel</button></a>
    </div>
</form>
</body>
</html>